@model int
@{
    ViewData["Title"] = "Employee details";
    var readOnly = ViewData["ReadOnly"].ToString().ToLower();
}

<div class="dynamic-content">

    @Html.Partial("_Loader", new ViewDataDictionary(ViewData) {
        {"loaderId", "loader"},
        {"show", true}
    })

    <div class="page-header">
        <h2 id="page-title"></h2>
    </div>

    <form class="form-horizontal">
        <input id="model-id" type="hidden" value="@Model" />
        <input id="read-only" type="hidden" value="@readOnly" />

        <div class="form-group no-margin">
            <label for="Name">Name</label>
            <input id="model-name" value="" class="form-control"/>
        </div>

        <h3>Skills</h3>
        <ul id="skills-list" class="list-group clickable"></ul>

        @Html.Partial("_SearchList", new ViewDataDictionary(ViewData) {
            {"searchListId", "add-skills"},
            {"placeholder", "Add skills..."}
        })

        <!-- Read actions -->
        <a id="edit-button" class="btn btn-primary" href="#">Edit</a>
        <button id="delete-button" type="button" class="btn btn-danger" >Delete</button>

        <!-- Edit actions -->
        <button id="save-button" type="button" class="btn btn-primary">Save</button>
        <a id="cancel-button" class="btn btn-default" href="#">Cancel</a>
    </form>
    
    <hr />
    @Html.ActionLink("Employees list", "index", "employees", null, new { @class = "btn btn-default" })

</div>

@section scripts {
    <script src="~/js/employees/details-html.js"></script>
    <script src="~/js/employees/details-actions.js"></script>
    <script src="~/js/employees/details.js"></script>
}
