<div id="@(ViewData["searchListId"])-search-list" class="search-list">
    <div class="form-group no-margin @(ViewData["searcher"] != null && !(bool) ViewData["searcher"] ? "hidden" : "")">
        <input id="@(ViewData["searchListId"])-keywords" class="form-control"
        placeholder="@(ViewData["placeholder"] != null ? ViewData["placeholder"] : "Search...")" />
    </div>
    <div class="dynamic-content">
        <ul id="@(ViewData["searchListId"])-list" class="list-group clickable"></ul>
        @Html.Partial("_Loader", new ViewDataDictionary(ViewData) {
            {"loaderId", (ViewData["searchListId"]) + "-loader"}
        })
    </div>
</div>
