@using SkillsMatrix.Models
@model List<Employee>
@{
    ViewData["Title"] = "Employees";
}

@Html.ActionLink("Add", "edit", "employee", null, new { @class = "btn btn-primary" })

@foreach(Employee employee in @Model) {
    <h1>
        @Html.ActionLink(@employee.Name, "details", "employee", new { id = @employee.Id }, null)
    </h1>
    <h3>Id: @employee.Id</h3>
    <hr />
}
