@using SkillsMatrix.Models
@model Skill
@{
    ViewData["Title"] = "Skill details";
    var readMode = ViewData["Mode"] == "Read";
    var editMode = ViewData["Mode"] == "Edit";
    var existing = Model != null;

    var pageTitle = "Skill not found";
    if (existing) {
        pageTitle = @Model.Name;
    }
    else if(editMode) {
        pageTitle = "New skill";
    }
}

<div class="page-header">
    <h2>@pageTitle</h2>
</div>

<form class="form-horizontal">
    <input value="@(existing ? @Model.Id : 0)" type="hidden" id="id" />

    <div class="form-group no-margin">
        <label for="Name">Name</label>
        <input value="@(existing ? @Model.Name : "")" id="name" class="form-control" @(readMode ? "disabled" : "")/>
    </div>

    <h3>Employees</h3>
    <ul class="list-group">
        @if(existing) {
            @foreach(Employee employee in Model.Employees) {
                <li class="list-group-item">
                    @Html.ActionLink(@employee.Name, "details", "employee", new { id = @employee.Id }, new { @class = "reset" })
                </li>
            }
        }
    </ul>

    @if(readMode && existing) {
        @Html.ActionLink("Edit", "edit", "skill", new {id = @Model.Id}, new { @class = "btn btn-primary" })
        <button type="button" class="btn btn-danger" id="delete-button">Delete</button>
    }
    else if(editMode) {
        <button type="button" id="save-button" class="btn btn-primary">Save</button>
        if (existing) {
            @Html.ActionLink("Cancel", "details", "skill", new { id = @Model.Id}, new { @class = "btn btn-default" })
        }
        else {
            @Html.ActionLink("Cancel", "index", "skill", null, new { @class = "btn btn-default" })
        }
    }
</form>

@if(existing) {
    <hr />
    @Html.ActionLink("Skills list", "index", "skill", null, new { @class = "btn btn-default" })
}

@section scripts {
    <script src="~/js/skills/delete.js"></script>
    <script src="~/js/skills/edit.js"></script>
}
